body {
    background-color: #1e1e1e;
    color: white;
    font-family: Arial, sans-serif;
}

h1 {
    color: #4cafef;
}

button {
    padding: 10px;
    margin-top: 10px;
    border-radius: 6px;
}

.primaryBtn {
    background-color: #4cafef;
    color: white;
}

.secondaryBtn {
    background-color: #444;
    color: white;
}

body {
    background-color: #1e1e1e;
    color: white;
    font-family: Arial, sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100vh;
}

button {
    cursor: pointer;
    transition: transform 0.1s ease;
}

button:hover {
    transform: scale(1.15);
}

input {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #555;
    margin-top: 10px;
    width: 280px;
}

li:hover {
    text-decoration: line-through;
    opacity: 0.8;
}
